<div class="well">
  <h3 class="text-center">Update Product</h3>
  <form ng-submit="productForm.$valid && editProduct()" name="productForm" novalidate>
    <div class="row">
      <div style="width: 45%; margin: 0 auto;" class="text-center panel panel-primary">
        <div class="panel panel-heading">
          Product-info:
        </div>
        <div class="panel panel-body">
          <p>Product name: {{product.name}}</p>
          <p>Product description: {{product.description}}</p>
          <p>Product price: {{product.price}}</p>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-3">
        <input type="text" id="name" name="name" ng-model="newProduct.name" class="form-control" placeholder="Product Name" required />
        <div style="color:red;" ng-show="productForm.$submitted || productForm.name.$touched">
          <span ng-show="productForm.name.$error.required">Name is required</span>
        </div>
      </div>
      <div class="col-sm-3">
        <input type="text" id="description" name="description" ng-model="newProduct.description" class="form-control" placeholder="Product description" required />
        <div style="color:red;" ng-show="productForm.$submitted || productForm.description.$touched">
          <span ng-show="productForm.description.$error.required">Description is required</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <br />
        <input type="number" id="price" name="price" ng-model="newProduct.price" class="form-control" placeholder="Product price" required />
        <div style="color:red;" ng-show="productForm.$submitted || productForm.price.$touched">
          <span ng-show="productForm.price.$error.required">Price is required</span>
          <span ng-show="productForm.price.$error.number">
      Not valid number!</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <br />
        <input type="Submit" value="Update Product" class="btn btn-primary" />
      </div>
    </div>
  </form>
  <a ui-sref="index" class="btn btn-info">Back</a>
</div>