
<div class="well">
  <h3 class="text-center">Add a new Product</h3>
  <form ng-submit="productForm.$valid && addProduct()" name="productForm" novalidate>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-3">
        <input type="text" name="name" ng-model="newProduct.name" class="form-control" placeholder="Product Name" required />
        <div style="color:red;" ng-show="productForm.$submitted || productForm.name.$touched">
          <span ng-show="productForm.name.$error.required">Name is required</span>
        </div>
      </div>
      <div class="col-sm-3">
        <input type="text" name="description" ng-model="newProduct.description" class="form-control" placeholder="Product description" required />
        <div style="color:red;" ng-show="productForm.$submitted || productForm.description.$touched">
          <span ng-show="productForm.description.$error.required">Description is required</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <br />
        <input type="text" name="price" ng-model="newProduct.price" class="form-control" placeholder="Product price" required />
        <div style="color:red;" ng-show="productForm.$submitted || productForm.price.$touched">
          <span ng-show="productForm.price.$error.required">Price is required</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <br />
        <input type="Submit" value="Add Product" class="btn btn-primary" />
      </div>
    </div>
  </form>
  <a ui-sref="index" class="btn btn-info">Back</a>
</div>